<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Invalid URL!</title>
  </head>

  <body>
    <h1>Invalid URL!</h1>
    <p>
      Sorry! The URL you're trying to add is invalid!
    </p>
  </body>
</html>
